extends layouts/application.pug

block content
	main.content
		header.header-primary
			a.contact-anchor(href="#") Contact
			p.contact-details
				a.contact-link(href="tel:1-614-561-2619") 614 561 2619
				span.contact-text  or&nbsp;
				a.contact-link(href="mailto:jeremy@tinyeahno.com") jeremy@tinyeahno.com
		article.about
			h1.site-title Jeremy Tinianow is a Designer & Maker who Writes Code & Copy
		section.details
			p.details-title Currently
			ul.detail-list
				li.detail-item Designer at&nbsp;
					a.detail-link(href="https://barbershop.io", target="_blank") Barbershop
				li.detail-item Based in sunny Denver, CO
