extends layouts/application.pug

block content
	main.content
		header.header-primary
			a.contact-anchor(href="#") Contact
			p.contact-details
				a.contact-link(href="#") 614 561 2619
				span.contact-text  or&nbsp;
				a.contact-link(href="#") jeremy@tinyeahno.com
		article.about
			h1.site-title Jeremy Tinianow is a Designer & Maker who Writes Code & Copy
		section.details
			h2.details-title Currently
			ul.detail-list
				li.detail-item Designer at&nbsp;
					a.detail-link(href="#", target="_blank") Barbershop
				li.detail-item Based in sunny Denver, CO
