.about {
	position: relative;

	@supports (display: flex) {
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
}

.site-title,
.details-title {
	font-weight: normal;
}

.site-title {
	max-width: 11em;
	font-size: 1.5em;

	@supports (display: flex) {
		align-self: center;
	}
}

.details-title { font-size: 1em; }

.details-title,
.detail-list {
	margin: 0;
	line-height: 1.5;
}
