.about {
	position: relative;

	@supports (display: flex) {
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
}

.site-title,
.details-title {
	font-weight: normal;
}

.site-title {
	display: inline-block;
	max-width: 11em;
	font-size: 8vw;
	font-weight: 500;
	line-height: 1;
	text-align: left;

	@media screen and (min-width: 900px) {
		font-size: 4.5em;
		align-self: center;
	}
}

.details {
	text-align: left;
	font-weight: 500;
}

.details-title {
	font-size: 1em;
	font-weight: 500;
	color: $blue;
}

.details-title,
.detail-list {
	margin: 0;
	line-height: 1.5;
}
