*,
*:before,
*:after { box-sizing: border-box; }

body {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: $body;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

a {
	position: relative;
	text-decoration: none;
	color: $body;

	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 100%;
		height: 1px;
		background-color: $blue;
	}
}

ul {
	padding-left: 0;
	list-style: none;
}

.content {
	padding: 1em;
}

.content {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 100vh;
	min-height: 360px;
	background-color: $off-white;
}
