*,
*:before,
*:after { box-sizing: border-box; }

body {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: $body;
}

a {
	position: relative;
	text-decoration: none;
	color: $body;

	&:after {
		content: '';
		display: inline-block;
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 100%;
		height: 1px;
		background-color: $blue;
	}
}

ul {
	padding-left: 0;
	list-style: none;
}

.content {
	padding: 1em;
}

.content {
	height: 100vh;
	min-height: 300px;
	background-color: $off-white;

	@supports (display: flex) {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
	}
}
