*,
*:before,
*:after { box-sizing: border-box; }

body {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: $body;
}

a {
	text-decoration: none;
	color: $body;
}

ul {
	padding-left: 0;
	list-style: none;
}

.content {
	padding: 1em;
}

.content {
	height: 100vh;
	min-height: 300px;
	background-color: $off-white;

	@supports (display: flex) {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
	}
}
