.header-primary {
	padding-top: 1em;
	text-align: right;
}

.contact-anchor { color: $blue; }

.contact-anchor:after { display: none; }

.contact-details {
	margin: 0;
	line-height: 1.5;
	transform: translate(0, 100%);
	opacity: 0;
	visibility: hidden;
	transition: visibility 0ms linear 300ms, opacity 300ms ease, transform 300ms ease;
}

// TODO: This probably needs a more robust implementation
.contact-anchor:hover + .contact-details,
.contact-details:hover {
	transform: translate(0, 0);
	opacity: 1;
	visibility: visible;
	transition: visibility 0ms linear, opacity 300ms ease, transform 300ms ease;
}
