<div class="about__highlights">
		<div class="highlight__container--col">
			
			<div class="highlight__container">
				<h3 class="highlight__header">Skills</h3>
					<ul class="highlight__list">
						<li class="highlight__item">Art Direction</li>
						<li class="highlight__item">Graphic Design</li>
						<li class="highlight__item">Frontend Development</li>
					</ul>
			</div>
			<div class="highlight__container">
				<h3 class="highlight__header">Experience</h3>
					<ul class="highlight__list">
						<li class="highlight__item">
							<h4 class="highlight__subhead">Art Director</h4>
							<ul class="highlight__details">
								<li class="highlight__snippet">Skreened, Ltd.</li>
								<li class="highlight__snippet"><date class="highlight__date">2014&ndash;2015</date></li>
							</ul>
						</li>
						<li class="highlight__item">
							<h4 class="highlight__subhead">Art Director</h4>
							<ul class="highlight__details">
								<li class="highlight__snippet">Columbus Idea Foundry</li>
								<li class="highlight__snippet"><date class="highlight__date">2012&ndash;2014</date></li>
							</ul>
						</li>
						<li class="highlight__item"><a href="resume/index.html" class="highlight__subhead highlight__linkout">Full Resume &#8230;</a></li>
					</ul>
			</div>
		</div>
	<div class="highlight__container--col">
		<div class="highlight__container">
			<h3 class="highlight__header">Contact</h3>
				<ul class="highlight__list">
					<li class="highlight__item"><a href="mailto:jeremy@tinyeahno.com" class="highlight__subhead">jeremy@tinyeahno.com</a></li>
					<li class="highlight__item">614 561 2619</li>
				</ul>
		</div>
		<div class="highlight__container">
			<h3 class="highlight__header">Elsewhere</h3>
				<ul class="highlight__list">
					<li class="highlight__item"><a href="https://www.behance.net/jtinianow" target="_blank" class="highlight__subhead highlight__linkout">Behance</a>
					</li>
					<li class="highlight__item"><a href="https://medium.com/@jtinianow" target="_blank" class="highlight__subhead highlight__linkout">Medium</a>
					</li>
				</ul>
		</div>
	</div>
</div>