<div class="about__container about__container--more">
	<div class="about__intro--more">
		<div class="about__elevator about__intro">
			<h2 class="about__label">This is my Elevator Pitch</h2>
			<p class="about__text">I’m a designer and a maker. I design things and I build them. I like to make things from scratch when time permits, and I’m efficient when time is short.</p>
			<p class="about__text">I design and develop websites in the browser while looking at them on my phone (always mobile first).</p>
			<p class="about__text">I design print work on the screen and, whenever possible, I print it by hand.</p>
			<p class="about__text">I once built a printing press from scratch and used it to print “thank you” cards that I designed.</p>
			<p class="about__text">I’m obsessed with type and lettering. I know the difference between and en dash &amp; an em dash, and I’ll probably call you out on it.</p>
			<p class="about__text">I also design workflows and design tools. I’ve created typefaces, templates, and icon libraries for clients when all they needed was a promotional piece.</p>
			<p class="about__text">I’m not a unicorn, I’m a mutt.</p>
			<p class="about__text">I’m a designer because design can connect people. Nothing makes me happier than creating things that touch other people’s lives.</p>
		</div>
		<div class="about__highlights">
			<div class="highlight__container">
				<h3 class="highlight__header">Recognition</h3>
					<ul class="highlight__list">
						<li class="highlight__item">
							<h4 class="highlight__subhead">&ldquo;Creative Anarchy&rdquo; by Denise Bosler</h4>
							<ul class="highlight__details">
								<li class="highlight__snippet highlight__snippet--sub">Posters featured in compilation published by HOW Design.</li>
							</ul>
						</li>
						<li class="highlight__item">
							<h4 class="highlight__subhead">Pinchflat 2014</h4>
							<ul class="highlight__details">
								<li class="highlight__snippet highlight__snippet--sub">Poster series featured in exhibition of bike-related prints.</li>
							</ul>
						</li>
						<li class="highlight__item">
							<h4 class="highlight__subhead">Pinchflat 2013</h4>
							<ul class="highlight__details">
								<li class="highlight__snippet highlight__snippet--sub">Poster series featured in exhibition of bike-related prints.</li>
							</ul>
						</li>
					</ul>
			</div>
			<div class="highlight__container">
				<h3 class="highlight__header">Education</h3>
				<ul class="highlight__list">
					<li class="highlight__item">
						<h4 class="highlight__subhead">Boulder Digital Works</h4>
						<ul class="highlight__details">
							<li class="highlight__snippet">Class of 2015</li>
							<li class="highlight__snippet highlight__snippet--sub">Currently pursuing post-grad certificate with a focus in design &amp; technology</li>
						</ul>
					</li>
					<li class="highlight__item">
						<h4 class="highlight__subhead">Ohio State University</h4>
						<ul class="highlight__details">
							<li class="highlight__snippet">Class of 2012</li>
							<li class="highlight__snippet highlight__snippet--sub">Graduated cum laude with minor in Design.</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>



