<div class="site-header__container">
	<header class="wrapper site-header">
		<a href="/" class="site-header__title-link">
			<?xml version="1.0" encoding="utf-8"?>
			<!-- Generator: Adobe Illustrator 16.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
			<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
				<path fill="#ea2e49" d="M27.834,16.495l-4.309,2.034c-0.88,3.523-3.58,6.636-7.526,6.636c-4.863,0-7.837-4.732-7.837-9.131
				c0-4.533,2.974-9.196,7.837-9.196c4.713,0,7.64,4.378,7.82,8.773l4.45-2.101l3.713,3.297C31.992,16.55,32,16.293,32,16.032
				c0-9.362-6.513-16.03-16-16.03C6.511,0.002,0,6.67,0,16.032C0,25.331,6.449,31.998,16,31.998c8.183,0,14.086-4.898,15.61-12.15
				L27.834,16.495z"/>
			</svg>
		</a>
		
		<a class="site-header__title-link--center--mobile" href="/">JT</a>
		<a class="site-header__title-link--center" href="/">Jeremy Tinianow</a>

		<a class="nav-primary__menu-toggle" id="menu-toggle">
			<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			width="40px" height="24px" viewBox="-425 589 30 24" enable-background="new -425 589 30 24" xml:space="preserve">
				<rect x="-425" y="596.5" width="40" height="1"/>
				<rect x="-425" y="600.5" width="40" height="1"/>
				<rect x="-425" y="604.5" width="40" height="1"/>
			</svg>
		</a>
	</header>
</div>
<div class="nav-primary__container">
	{% include nav-primary.html %}
</div>