<nav role="navigation" class="wrapper nav-primary">
	<div class="nav-primary__menu">
		<div class="nav-primary__menu-col alpha">
			<ul class="menu-col__list">
				<li class="menu-col__item"><a href="/#work" class="menu-link menu-link--header">Work</a></li>
				{% for post in site.posts %}
				<li class="menu-col__item"><a href="{{ post.url }}" class="menu-link menu-link--page">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="nav-primary__menu-col">
			<ul class="menu-col__list">
				<li class="menu-col__item"><a href="/" class="menu-link menu-link--header">About</a></li>
				<li class="menu-col__item">
					<a href="/resume" class="menu-link menu-link--page">Resume</a>
				</li>
			</ul>
		</div>
	</div>
</nav>