
<section class="work-grid__wrapper">
<h2 class="work-grid__label wrapper">Work</h2>
	<h3 class="work-grid__heading--horizontal">Digital</h3>
	<section class="work-grid">
		<div class="work-grid__section--top-left"></div>
		<div class="work-grid__section--top-right"></div>
		<div class="work-grid__section--bottom-left"></div>
		<div class="work-grid__section--bottom-right"></div>
			<a class="work-grid__link work-grid__link--seekr" href="/" >
				<span class="work-grid__title">Seekr</span>
				<img class="work-grid__thumb project-thumb__seekr" src="/content/work-grid/seekr--thumb.png">
			</a>
			<a class="work-grid__link work-grid__link--cif-brand" href="/columbus-idea-foundry" >
				<span class="work-grid__title">Columbus Idea Foundry</span>
				<img class="work-grid__thumb project-thumb__cif-brand" src="/content/work-grid/cif-brand--thumb.png">
			</a>
			<a class="work-grid__link work-grid__link--ff" href="/frequency-fridays" >
				<span class="work-grid__title">Frequency Fridays</span>
				<img class="work-grid__thumb project-thumb__ff" src="/content/work-grid/ff--thumb.png">
			</a>
			<a class="work-grid__link work-grid__link--make-posters" href="/make-posters" >
				<span class="work-grid__title">Make Posters</span>
				<img class="work-grid__thumb project-thumb__make-posters" src="/content/work-grid/make-posters--thumb.png">
			</a>
			<a class="work-grid__link work-grid__link--make-puzzle" href="/make-puzzle" >
				<span class="work-grid__title">MAKE Puzzle</span>
				<img class="work-grid__thumb project-thumb__make-puzzle" src="/content/work-grid/make-puzzle--thumb.png">
			</a>
	</section>
	<h3 class="work-grid__heading--horizontal">Physical</h3>
	<h3 class="work-grid__heading--vertical">Design</h3>
	<h3 class="work-grid__heading--vertical--omega">Direction</h3>
</section>

