
<section class="work-grid__wrapper">
<h2 class="work-grid__label">Work</h2>
	<h3 class="work-grid__heading--horizontal">Digital</h3>
	<section class="work-grid">
		<div class="work-grid__section--top-left"></div>
		<div class="work-grid__section--top-right"></div>
		<div class="work-grid__section--bottom-left"></div>
		<div class="work-grid__section--bottom-right"></div>
			<a class="work-grid__link" href="/" >
				<img class="work-grid__thumb project-thumb__seekr" src="/content/work-grid/seekr--thumb.png">
			</a>
			<a class="work-grid__link" href="/columbus-idea-foundry" >
				<img class="work-grid__thumb project-thumb__cif-brand" src="/content/work-grid/cif-brand--thumb.png">
			</a>
			<a class="work-grid__link" href="/frequency-fridays" >
				<img class="work-grid__thumb project-thumb__ff" src="/content/work-grid/ff--thumb.png">
			</a>
			<a class="work-grid__link" href="/make-posters" >
				<img class="work-grid__thumb project-thumb__make-posters" src="/content/work-grid/make-posters--thumb.png">
			</a>
			<a class="work-grid__link" href="/make-puzzle" >
				<img class="work-grid__thumb project-thumb__make-puzzle" src="/content/work-grid/make-puzzle--thumb.png">
			</a>
	</section>
	<h3 class="work-grid__heading--horizontal">Physical</h3>
	<h3 class="work-grid__heading--vertical">Design</h3>
	<h3 class="work-grid__heading--vertical--omega">Direction</h3>
</section>

