/*****************************************************************************/
/*
/* Variables
/*
/*****************************************************************************/

$base-font-family: "garamond-premier-pro", Georgia, Times, serif;
$secondary-font-family: "effra", Helvetica Neue, Helvetica, Arial, sans-serif;
$base-font-size: 21px;
$base-line-height: 150%;

$spacing-unit: 2rem;

$text-color: #444;
$background-color: #fafafa;

$red: #ea2e49;
$blue: #00aef1;
$grey-color: #828282;

$max-width: 65rem;
$text-width: 40rem;
