@import "reset";
@import "jeet/index";
@import "variables";
@import "mixins";

/*****************************************************************************/
/*
/* Base Styles
/*
/*****************************************************************************/
body {
	font-family: $base-font-family;
	font-size: $base-font-size * 0.8;
	font-weight: 400;
	line-height: $base-line-height;
	color: $text-color;
	background: $background-color;
	-webkit-text-size-adjust: 100%;
	@media (min-width: 768px) {
		font-size: $base-font-size;
	}
}

.wrapper{
	max-width: -webkit-calc(#{$max-width}-(#{$spacing-unit/2}*2));
	margin: 0 $spacing-unit/2;
	@include cf();
	@media (min-width: 768px) {
	max-width: -webkit-calc(#{$max-width}-(#{$spacing-unit*2}*2));
	margin: 0 $spacing-unit*2;
	}
	@media (min-width: 1280px) {
		max-width: $max-width;
		margin: 0 auto;
	}
}

.no-display { display: none; }

.hidden { visibility: hidden; }

/*****************************************************************************/
/*
/* Webfont Handling
/*
/*****************************************************************************/
.wf-loading {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	ol,
	p,
	span,
	a { visibility: hidden; }
}

.wf-inactive body{
	font-size: $base-font-size * 0.75;
	.about__text {
		font-size: $base-font-size*1.2;
		line-height: 150%;
	}
	@media (min-width: 768px) {
		font-size: $base-font-size*1;
	}
}

/*****************************************************************************/
/*
/* Modules
/*
/*****************************************************************************/

/* Site Header */
.logo { vertical-align: middle; }

.site-header {
	position: absolute;
	left: 0;
	right: 0;
	&__container{
		position: fixed;
		top: $spacing-unit/2;
		right: 0;
		left: 0;
		z-index: 998;
	}
	&__title-link {
		@include span (1/10);
		&--center,
		&--center--mobile {
			@include span (3/5);
			@include secondary-font(1em);
			opacity: 0.4;
			text-align: center;
			transition: opacity 0.3s ease;
			&:hover {
				@media (min-width: 768px) {
					opacity: 1;
				}
			}
		}
		&--center {
			display: none;
			@media (min-width: 768px) {
				display: block;
			}
		}
		&--center--mobile {
			@media (min-width: 768px) {
				display: none;
			}
		}
	}
}

/* Site Footer */
.site-footer{
	text-align: center;
	color: lighten($text-color, 20%);
	@media (min-width: 768px) {
		text-align: left;
	}
	&__container {
		padding: $spacing-unit/2 0;
		background: darken($background-color,10%);
	}
	&__link { text-decoration: underline; }
	&__info,
	&__contact {
		@media (min-width: 768px) { @include span(1/2); }
	}
	&__info {
		font-size: 0.8em;
		line-height: 125%;
	}
}

/* Primary Nav */
.nav-primary--items {
	@include span (9/10);
	text-align: right;
	color: lighten($text-color, 10%);
	@media (min-width: 800px) { color: $text-color; }
}

.nav-primary__item {
	margin-left: $spacing-unit*0.7;
	@include secondary-font(1em);
	letter-spacing: 0;
	vertical-align: middle;
	color: $blue;
	@media (min-width: 800px) { letter-spacing: 1px; }
	&:visited { color: $blue; }
	&--static {
		@extend .nav-primary__item;
		margin-left: 0;
		color: lighten($text-color, 30%);
		background: none;
		@media (min-width: 800px) {
		letter-spacing: 1px;
		}
	}
}

.nav-primary {
	margin-top: $spacing-unit;
	@media (min-width: 800px) { margin-right: $spacing-unit*1.5; }
	&__menu-toggle { @include span (1/10); }
	&__menu {
		margin-top: $spacing-unit;
		&-col {
			@include col(1/2);
			float: right;
			@media (min-width: 768px) {
				@include col(1/4);
				float: right;
			}
		}
	}
	&__menu-toggle svg{ float: right; }
	&__menu-toggle:hover { cursor: pointer; }
	&__container--visible {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		z-index: 997;
		background: $background-color;
	}
}

// .menu-col__list { list-style: none; }

// .menu-col__item{ width: 100%; }

// .menu-link {
// 	display: inline-block;
// 	@include secondary-font(1em);
// 	line-height: 125%;
// 	padding: $spacing-unit/4;
// 	transition: all 0.3s ease;
// 	@media (min-width: 800px) { padding: $spacing-unit/4 $spacing-unit/2; }
// }

// .menu-link--page{
// 	font-weight: 300;
// 	text-transform: none;
// 	letter-spacing: 0;
// }

// .menu-link:hover{
// 	@media (min-width: 800px) {
// 		background: $blue;
// 		color: #fff;
// 	}
// }

// .menu-link--page--inactive:hover {
// 	background: transparent;
// 	color: inherit;
// }

/* Post Navigation */
.post-nav {
	&__links { line-height: 3; }
	&__link{
		float: left;
		margin: 0 5%;
		vertical-align: baseline;
		@include span (1/3);
	}
	&__link {
		&--prev {
			margin-left: 0;
			svg {
				display: inline-block;
				margin: -3px;
				transform: translateX(0); transition-duration: 0.3s;
			}
			&:hover svg { transform: translateX(5px); transition-duration: 0.3s; }
		}
		&--next {
			margin-right: 0;
			text-align: right;
			svg {
				display: inline-block;
				margin: -3px;
				transform: translateX(0); transition-duration: 0.3s;
			}
			&:hover svg { transform: translateX(-5px); transition-duration: 0.3s; }
		}
		&--inactive { color: lighten($text-color, 60%); }
	}
	&__archive { text-align: center; }
	&__text {
		display: none;
		@media (min-width: 768px) {
			display: inline;
			padding: 0 $spacing-unit/4;
			@include secondary-font(0.8em);
		}
	}
	&__links{ margin: 0 auto; }
}

/*****************************************************************************/
/*
/* Pages and Posts
/*
/*****************************************************************************/

/* Page Formatting */
.page-content { margin-bottom: $spacing-unit*4; }

/* Post Formatting */ 
.post {
	margin-bottom: $spacing-unit*2;
	img {
		max-width: 100%;
		height: auto;
		margin-bottom: $spacing-unit/2;
	}
	&-section { margin-bottom: $spacing-unit*2; }
	&-brief p,
	&-nav__links { max-width: 40rem; }
	&-section {
		margin-top: $spacing-unit;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			max-width: $text-width;
			display: block;
			margin-right: auto;
			margin-left: auto;
		}
		img {
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
	&-header{
		padding: $spacing-unit*3 0 $spacing-unit*5 0;
		@include secondary-font(1em);
		@media (min-width: 768px) { padding-bottom: $spacing-unit*10; }
		&__container{ background: $background-color; }
		&__title{
			margin-bottom: $spacing-unit*3;
			font-family: $base-font-family;
			font-size: 4em;
			line-height: 110%;
			text-transform: none;
		}
		&__details { margin-bottom: 0; }
	}
	&-brief{
		margin-bottom: $spacing-unit*3;
		@media (min-width: 768px) {
			margin-bottom: $spacing-unit*2;
			@include cf();
		}
	}
	&-brief__header,
	&-header__label {
		letter-spacing: 2px;
		@media (min-width: 768px) { @include span(1/5); }
	}
	&-brief__description,
	&-header__tags {
		text-transform: none;
		letter-spacing: 0;
		font-size: 1.1em;
		line-height: 140%;
		@media (min-width: 768px) { @include span(3/5); }
	}
	&-link { text-decoration: underline; }
	&-subhead {
		margin: $spacing-unit 0 $spacing-unit/2 0;
		@include secondary-font(1em);
		color: $red;
	}
}

.omega { margin-bottom: $spacing-unit*4; }

.caption {
	font-size: 80%;
	line-height: 120%;
	font-style: italic;
	color: lighten($text-color, 40%);
	text-align: center;
}

/*****************************************************************************/
/*
/* Pages
/*
/*****************************************************************************/

/* Homepage */
.home-page,
.resume { padding-top: $spacing-unit*3; }

.home-page {
	@media (min-width: 768px) { padding-top: $spacing-unit*5; }
}

.post-previews {
	list-style: none;
	&__container{
		display: inline-block;
		padding-bottom: $spacing-unit*5;
	}
	&__header {
		margin-bottom: $spacing-unit;
		@include secondary-font(1em);
		color: $blue;
	}
	&__list {
		position: relative;
		line-height: 0;
		background: $background-color;
	}
}

/* Post Previews */
.post-preview {
	&__item {
		display: block;
		@media (min-width: 600px) { @include span(1/2); }
		@media (min-width: 900px) { @include span(1/4); }
	}
	&__thumb {
		max-width: 100%;
		height: auto;
	}
	&__container { width: 100%; }
	&__thumb {
	  	-webkit-backface-visibility: hidden;
			-webkit-transform: translateZ(0) scale(1.0, 1.0);
	}
	&__link {
		display: inline-block;
		width: 100%;
	}
	&__info {
		margin: $spacing-unit/2 0 $spacing-unit 0;
		@include secondary-font(1em);
		line-height: 120%;
	}
	&__client,
	&__title { margin-bottom: $spacing-unit/4; }
	&__title {
		@include span (4/5);
		letter-spacing: 1px;
	}
	&__client {
		@include stack();
		margin-bottom: $spacing-unit*0.1;
		text-transform: none;
		font-weight: 300;
		letter-spacing: 0;
		color: lighten($text-color, 10%);
	}
}

/* About */
.about {
	padding-top: $spacing-unit*3;
	&__container,
	&__intro {
		margin-bottom: $spacing-unit;
		@media (min-width: 768px) { margin-bottom: $spacing-unit*4; }
	}
	&__container {
		display: inline-block;
		margin-bottom: 0;
		@include stack();
		@include cf();
		&--more { @include cf(); }
	}
	&__intro {
		@media (min-width: 768px) { @include span(9/16); }
	}
	&__text {
		font-size: 1.3em;
		font-weight: 400;
		line-height: 130%;
		&--light { color: lighten($text-color, 40%); }
	}
	&__highlights {
		@media (min-width: 768px) {
			@include span (3/8);
			@include shift (1/16);
		}
	}
	&__label {
		margin-bottom: $spacing-unit/2;
		@include secondary-font(1em);
		color: $blue;
	}
	&__link {
		display: inline-block;
		clear: both;
		float: left;
		margin-top: $spacing-unit/2;
		padding: $spacing-unit/4 $spacing-unit/2;
		@include secondary-font(1em);
		border: 2px solid $blue;
		transition: background 0.3s ease;
	}
	&__link:hover {
		@media (min-width: 800px) { background: lighten($blue, 40%); }
	}
	&__toggle {
		@include stack();
		margin-bottom: $spacing-unit;
		@include secondary-font(1em);
		border-top: 1px solid lighten($text-color, 60%);
		color: lighten($text-color, 50%);
		background: $background-color;
		line-height: 0;
		text-align: center;
		display: none;
		@media (min-width: 768px) {
			display: block;
			&:hover { cursor: pointer; }
		}
	}
	&__show-more,
	&__show-less {
		padding: 0 $spacing-unit/2;
		background: $background-color;
	}
}

.highlight {
	&__container--col {
		@include col(1/2);
		@media (min-width: 768px) { @include col(1/2); }
	}
	&__header {
		margin-bottom: $spacing-unit/4;
		@include secondary-font(1em);
		color: $blue;
		@media (min-width: 768px) { margin-bottom: $spacing-unit/2; }
	}
	&__details { margin-bottom: $spacing-unit/3; }
	&__list{
		margin-bottom: $spacing-unit;
		font-size: 0.8em;
	}
	&__item {
		font-size: 1em;
		line-height: 135%;
	}
	&__item a { transition: background 0.3s ease; }
	&__subhead { font-weight: 300; }
	&__linkout {
		display: inline-block;
		margin-bottom: $spacing-unit/5;
		@include text-underline($blue);
	}
	&__snippet { @include secondary-font(0.9em); }
	&__snippet--sub {
		font-size: 0.8em;
		line-height: 150%;
		text-transform: none;
		letter-spacing: 0;
	}
}

/* Resume */
.resume {
	line-height: 1.45;
	max-width: $text-width*0.8;
	@media (min-width: 960px) { margin: 0 auto; }
	&__download-link,
	&__download-link:visited {
		display: inline-block;
		margin-bottom: $spacing-unit;
		border: 2px solid $blue;
		padding: $spacing-unit/4 $spacing-unit/2;
		line-height: 1.5;
		vertical-align: baseline;
		@include secondary-font(0.8em);
		letter-spacing: 1px;
		color: $blue;
		transition: background 0.3s ease;	
	}
	&__download-link:hover { background-color: lighten($blue, 48%); }
	&-section {
		&__container {
			display: inline-block;
			width: 100%;
			margin-bottom: $spacing-unit*1.75;
		}
		&__header {
			margin-bottom: $spacing-unit/2;
			@include secondary-font(1em);
			color: $red;
		}
	}
	&__header,
	&__subhead { @include secondary-font(1em); }
	&__header {
		margin-bottom: 0;
		color: $red;
	}
	&__info,
	&__contact { @include span(1/2); }
	&__contact {
		text-align: right;
		font-size: 0.8em;
	}
	&__list-secondary { margin-bottom: $spacing-unit/1.5; }
	&__list-secondary__item { @include secondary-font(1.2em); }
	&__item--em { font-size: 0.7em; }
	&__text {
	font-family: $base-font-family;
	text-transform: none;
	letter-spacing: 0;
	font-weight: 300;
	}
}
