@import "reset";
@import "jeet/index";

// Variables
$base-font-family: "garamond-premier-pro", Georgia, Times, serif;
$secondary-font-family: "refrigerator-deluxe", Helvetica Neue, Helvetica, Arial, sans-serif;
$base-font-size: 21px;
$base-line-height: 150%;

$spacing-unit: 2rem;

$text-color: #444;
$background-color: #FDFDFD;

$red: #ea2e49;
$blue: #00aef1;
$grey-color: #828282;

$max-width: 65rem;
$text-width: 40rem;

body {
	font-family: $base-font-family;
	font-size: $base-font-size * 0.8;
	line-height: $base-line-height;

	color: $text-color;
    background: $background-color;

    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;

    @media (min-width: 768px) {
    	font-size: $base-font-size;
    }
}
.wf-inactive body{
	font-size: $base-font-size * 0.65;

    @media (min-width: 768px) {
    	font-size: $base-font-size*0.85;
    }
}
.wrapper{
	max-width: -webkit-calc(#{$max-width}-(#{$spacing-unit/2}*2));
	margin: 0 $spacing-unit/2;
	@include cf();

	@media (min-width: 768px) {
	max-width: -webkit-calc(#{$max-width}-(#{$spacing-unit*2}*2));
	margin: 0 $spacing-unit*2;
	}

	@media (min-width: 1280px) {
		max-width: $max-width;
		margin: 0 auto;
	}
}
// Site Header
.site-header__container{
	position: fixed;
	top: $spacing-unit/2;
	right: 0;
	left: 0;
	z-index: 998;
}

// Site Footer
.site-footer__container {
	padding: $spacing-unit/2 0;
	background: darken($background-color, 10%);
}
.site-footer{
	text-align: center;
	color: lighten($text-color, 20%);

	@media (min-width: 768px) {
		text-align: left;
	}
}
.site-footer__info, .site-footer__contact {

	@media (min-width: 768px) {
		@include span(1/2);
	}
}
.site-footer__info {
	font-size: 0.8em;
	line-height: 125%;
}

// Primary Nav
.nav-primary__menu-toggle {
	float: right;
}
.nav-primary__menu-toggle:hover{cursor: pointer;}
.nav-primary__container{
	display: none;
}
.nav-primary__container--visible {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $background-color;
	z-index: 997;
}
.nav-primary, .nav-primary__menu{margin-top: $spacing-unit;}
.nav-primary__menu-col{
	@include span(45/100);
	float: right;
}
.nav-primary {
	
	@media (min-width: 800px) {
	margin-right: $spacing-unit*1.5;
	}
}
.alpha{margin-left: 10%}
.menu-col__list{list-style: none;}
.menu-col__item{
	width: 100%;
	text-align: right;
}
.menu-link{
	display: inline-block;
	font-family: $secondary-font-family;
	font-weight: 300;
	padding: $spacing-unit/4;
	transition: all 0.3s ease;

	@media (min-width: 800px) {
		padding: $spacing-unit/4 $spacing-unit/2;
	}
}
.menu-link:hover{

	@media (min-width: 800px) {
		background: $blue;
		color: #fff;
	}
}
.menu-link--header{font-weight: 400;}

// Page Formatting
.page-content{
	margin-bottom: $spacing-unit*4;
}

// Post Formatting
.post{margin-bottom: $spacing-unit*2;}
.post img{
	max-width: 100%;
	height: auto;
	margin-bottom: $spacing-unit/2;
}
.post-section{margin-bottom: $spacing-unit*2;}
.omega{margin-bottom: $spacing-unit*4;}
.post-brief p, .post-nav__links {
	max-width: 40rem;
}
.post-nav__links{margin: 0 auto;}
.post-section {
	margin-top: $spacing-unit;

	h1, h2, h3, h4, h5, h6, p {
		max-width: $text-width;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	img {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
}
.post-header__container{
	background: $background-color;
}
.post-header{
	padding: $spacing-unit*2 0 $spacing-unit*5 0;

	@media (min-width: 768px) {
		padding-top: $spacing-unit*3;
		padding-bottom: $spacing-unit*10;
	}
}
.post-header__title{
	font-family: $secondary-font-family;
	font-weight: 300;
	font-size: 3em;
	margin-bottom: $spacing-unit*3;
	line-height: 110%;
}
.post-header__client {
	font-family: $secondary-font-family;
	font-weight: 300;
}
.post-brief{
	margin-bottom: $spacing-unit*3;

	@media (min-width: 768px) {
		margin-bottom: $spacing-unit*2;
		@include cf();
	}
}
.post-brief__header, .post-header__label{
	font-family: $secondary-font-family;
	font-weight: 400;
	font-size: 70%;
	text-transform: uppercase;
	letter-spacing: 2px;
	@media (min-width: 768px) {
		@include span(1/5);
	}
}
.post-brief__description, .post-header__tags{

	@media (min-width: 768px) {
		@include span(4/5);
	}
}
.post-header__details{margin-bottom: 0;}
.caption {
	font-size: 80%;
	line-height: 120%;
	font-style: italic;
	color: lighten($text-color, 40%);
	text-align: center;
}
.post-link{text-decoration: underline;}
.post-subhead {
	margin: $spacing-unit 0 $spacing-unit/2 0;
	font-family: $secondary-font-family;
	color: $red;
}

// Post Navigation
.post-nav__links{
	line-height: 2;
}
.post-nav__link{
	float: left;
	margin: 0 5%;
	vertical-align: baseline;
	width: 5%;
}
.post-nav__link--prev {margin-left: 0;}
.post-nav__link--next {margin-right: 0;}
.post-nav__archive{width: 70%;text-align: center;}

// Homepage
.home-page, .resume{padding-top: $spacing-unit*3;}
.post-previews{list-style: none;}
.post-preview__list {
	display: block;
	@media (min-width: 600px) {
		@include span(1/2);
	}
	@media (min-width: 900px) {
		@include span(1/4);
	}
}
.post-preview__thumb{max-width: 100%; height: auto;}

// About
.about__container, .about__intro {
	margin-bottom: $spacing-unit*2;

	@media (min-width: 768px) {
		margin-bottom: $spacing-unit*4;
	}
}
.about__container{display: inline-block;}
.about__intro {

	@media (min-width: 768px) {
		@include span(9/16);
		margin-right: $spacing-unit;
	}
}
.about__text {
	font-size: 1.5em;
	line-height: 130%;
	color: lighten($text-color, 5%);
}
.about__highlights {

	@media (min-width: 768px) {
		@include span (3/8);
		@include shift (1/16);
	}
}
.about__label {
	margin-bottom: $spacing-unit/2;
	font-family: $secondary-font-family;
	font-weight: 400;
	text-transform: uppercase;
	color: $blue;
}
.about__contact-link {
	display: inline-block;
	margin-top: $spacing-unit/2;
	padding: $spacing-unit/4 $spacing-unit/2;
	font-family: $secondary-font-family;
	font-weight: 400;
	text-transform: uppercase;
	border: 2px solid $blue;
	transition: background 0.3s ease;
}
.about__contact-link:hover {
	@media (min-width: 800px) {
		background: lighten($blue, 40%);
	}
}
.about__highlights {
}
.highlight__container--col {
	@include span(1/2);

	@media (min-width: 768px) {
		@include col(1/2);
	}
}
.highlight__header {
	margin-bottom: $spacing-unit/4;
	font-family: $secondary-font-family;
	color: $blue;
	font-weight: 400;
	text-transform: uppercase;

	@media (min-width: 768px) {
		margin-bottom: $spacing-unit/2;
	}
}
.highlight__container {
	margin-bottom: $spacing-unit;
}
.highlight__details {
	margin-bottom: $spacing-unit/3;
}
.highlight__list{font-size: 0.8em;}
.highlight__item {
	font-size: 1em;
	line-height: 135%;
}
.highlight__item a {transition: background 0.3s ease;}
.highlight__item a:hover {

	@media (min-width: 800px) {
		background: lighten($grey-color, 36%);
	} 
}
.highlight__subhead {
	font-weight: 300;
}
.highlight__snippet {
	color: lighten($text-color, 10%);
}

// Post Previews
.post-previews__header {
	margin-bottom: $spacing-unit;
	font-family: $secondary-font-family;
	font-weight: 400;
	text-transform: uppercase;
	color: $blue;
}
.post-preview__list {
	position: relative;
	line-height: 0;
	background: $background-color;
}
.post-preview__container {
	position: absolute;
	top: 0;
	width: 100%;
}
.post-preview__thumb {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.post-preview__link {display: inline-block; width: 100%;}
.post-preview__link:hover{
	
	@media (min-width: 768px) {
			.post-preview__info, .post-preview__thumb {
				transition: opacity 0.3s ease;
			}
			.post-preview__info{opacity: 1;}
			.post-preview__thumb {
				opacity: 0.1;
			}
		}
	} 
.post-preview__info {
	opacity: 0;
	margin: $spacing-unit/2;
	text-align: center;
	font-family: $secondary-font-family;
	font-weight: 300;
	font-size: 0.8em;
	line-height: 120%;
}
.post-preview__client, .post-preview__title {
	margin-bottom: $spacing-unit/4;
}
.post-preview__title {
	color: $blue;
	letter-spacing: 1px;
}
.post-preview__client{color: lighten($text-color, 10%);}

// Resume
.resume {
	line-height: 1.45;
	max-width: $text-width;

	@media (min-width: 960px) {
		margin: 0 auto;
	}
}
.resume__download-link, .resume__download-link:visited{
	display: inline-block;
	margin-bottom: $spacing-unit;
	border: 2px solid $blue;
	padding: $spacing-unit/4 $spacing-unit/2;
	line-height: 1.5;
	vertical-align: baseline;
	font-family: $secondary-font-family;
	font-size: 0.8em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $blue;
	transition: background 0.3s ease;
}
.resume__download-link:hover{background-color: lighten($blue, 48%);}
.resume-section__container {
	display: inline-block;
	width: 100%;
	margin-bottom: $spacing-unit*1.75;
}
.resume__header, .resume__subhead {
	font-family: $secondary-font-family;
	font-size: 1.1em;
	font-weight: 300;
	text-transform: uppercase;
}
.resume__header {
	margin-bottom: 0;
	color: $red;
}
.resume__info, .resume__contact {
	@include span(1/2);
}
.resume__contact{text-align: right;}
.resume-section__header {
	margin-bottom: $spacing-unit/2;
	font-family: $secondary-font-family;
	font-size: 1.1em;
	font-weight: 300;
	text-transform: uppercase;
	color: $red;
}
.resume__list-secondary{margin-bottom: $spacing-unit/1.5;}
.resume__list-primary__subhead{color: darken($text-color, 50%);}
.resume__list-secondary__item{color: lighten($text-color, 5%);}
.resume__item--em{font-style: italic;}