doctype html
html
	head
		meta(charset="utf-8")
		title= pageTitle
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="stylesheets/app.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Work+Sans:500")
		block head
	body
		block content
		block javascript
